{{outlet}}

<div class="col-sm-12">
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Unsent Campaigns</div>

    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <td>Name</td>
          <td>Num of recipients</td>
        </tr>
      </thead>
      <tbody>
        {{#each unsentCampaigns as |campaign|}}
          {{campaign-row campaign=campaign}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<div class="col-sm-12">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Sent Campaigns</div>

    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <td>Name</td>
          <td>Num of recipients</td>
        </tr>
      </thead>
      <tbody>
        {{#each sentCampaigns as |campaign|}}
          {{campaign-row campaign=campaign}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<div class="col-sm-7">
  {{#link-to "campaigns.new" class="btn btn-lg btn-primary"}}Add Campaign{{/link-to}}
</div>
